# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Model / temp files
*.h5
*.pt
*.pth
*.ckpt

# Jupyter exported files
*.html

# Python packaging
pip-wheel-metadata/